# python gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# pytorch
*.pth
*.pt
*.pth.tar
*.pt.tar
!dataset_stats.pt

# data folders
data/

# Distribution / packaging
dist/
build/
*.egg-info/

.venv/

wandb/